.nav-link-hover:hover {
    color: #0933a7 !important; 
  }

.login-button1 {
    background-color: #0933a7 !important;
    color: #ffffff !important;
    border: none;
    padding: 0.2rem 0.5rem !important;
    border-radius: 1rem;
}

.login-button1:hover {
    background-color: #001f73 !important;
}

.booking-card {
    background-color: #ffffff !important;
    border-radius: 2rem !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
  }

.btn-primary {
    background-color: #001f73 !important;
    color: #ffffff !important;
    border: none;
    padding: 0.2rem 0.5rem !important;
    border-radius: 1rem;
  }
  .btn-primary:hover {
    background-color: #0933a7 !important;
  }

  .footer-col {
    color: #dfdfdf;
    margin-top: 2rem;
  }